<header class="header">
    <a href="/" class="header__logo">NodeJs</a>

    <nav class="header__nav">
       <ul>
        <li>
            <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
        </li>
        <li>
            <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">About</a>
        </li>
        <li>
            <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">Contact</a>
        </li>
       </ul>
    </nav>
     
    <div class="header__button">
       <button class="searchBtn" aria-expanded="false">
        Search
        <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    strokeWidth="2"
    strokeLinecap="round"
    strokeLinejoin="round"
  >
    <circle cx="11" cy="11" r="8" />
    <path d="m21 21-4.3-4.3" />
    </svg>
       </button>
    </div>

</header>