<div class="author">
    <h1 class="author__heading">Hi, I am Abhinav.</h1>
    <p class="author__body">Fullstack Developer.</p> 
</div>
<img src="/img/blog.png" alt="A person looking through a window" class="hero__image" height="528" width="981">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %> 
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>  
        <% }) %>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>
</section>